/* PanelButton */
.asusctl-gex-panel-button .asusctl-gex-panel-layout{
    padding: 0 5px;
}
.asusctl-gex-panel-button .asusctl-gex-panel-icon{
    width: 20px;
    height: 20px;
    padding: 0 5px;
}
.asusctl-gex-panel-button .panel-bin-profile{
    height: 28px;
    width: 38px;
}

/* PopupMenu */
.asusctl-gex-menu-item.headline {
    margin-bottom: 10px;
}
.asusctl-gex-menu-item.headline-label {
    font-weight: bold;
}

.asusctl-gex-menu-item .popup-menu-icon{
    padding-right: 5px;
}

.asusctl-gex-battery-item .popup-menu-icon{
    padding-right: 8px;
}
.asusctl-gex-battery-item .asusctl-gex-battery-slider-label{
    padding-left: 10px;
}

.asusctl-gex-switch-button{
    border: 1px solid rgb(211,211,211);
    border-radius: 20px;
    width: 30px;
    height: 30px;
}
.asusctl-gex-switch-button-icon{
    width: 20px;
    height: 20px;
    padding: 5px;
}
.asusctl-gex-switch-button-icon:hover{
    background-color: rgb(155, 155, 155);
}

.asusctl-gex-anime-item .asusctl-gex-switch-button{
    margin-left: 15px;
}

.asusctl-gex-anime-item .popup-menu-icon{
    padding-right: 8px;
}

/* 
  not sure how to style the icons of
  .popup-menu-icons from PopupImageMenuItem
  the Profile Icons coult be a bit bigger in the menu
*/